<!DOCTYPE html>
<html lang="en">
<head>
    <base id="base" href="${base}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="mobile-agent" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/index_css.css">
    <link rel="stylesheet" href="/css/reset.min.css">
    <style type="text/css">
    </style>
</head>
<body>
<div class="footer">
    <div class="footer_cell">
        <div class="contact">
            <img src="/css/img/logo-b.png" alt="">
        </div>
        <div class="content_c">
            <div class="about">
                <ul>
                    <li>
                        <h5>关于我们</h5>
                        <p><a target="_blank" href=""></a></p>
                    </li>
                    <li>
                        <h5>商业合作</h5>
                        <p><a target="_blank" href=""></a></p>
                    </li>
                    <li>
                        <h5>加入我们</h5>
                        <p><a target="_blank" href="" title=""></a></p>
                    </li>
                </ul>
            </div>
            <div>
                <p class="mailbox">客服邮箱：service@ixiaoshuidi.com.cn</p>
                <p class="hotline">全国服务热线：400-688-2525（周一至周六09:00-18:00）</p>
                <p class="copyright">&copy;2014-2017 上海库铭信息科技有限公司 沪ICP备14053439号</p>
            </div>

        </div>
        <div class="qrcode">
            <ul>
                <li class="renterQrcode">
                    <span>微信公众号二维码</span>
                </li>
                <li class="landlordQrcode">
                    <span>微博二维码</span>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>