<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.business.dao.volga.LayoutMapper" >
  <resultMap id="BaseResultMap" type="com.web.business.model.volga.Layout" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="updated_by" property="updatedBy" jdbcType="INTEGER" />
    <result column="deleted_by" property="deletedBy" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="apartment_id" property="apartmentId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="operator_id" property="operatorId" jdbcType="INTEGER" />
    <result column="monthRent" property="monthrent" jdbcType="INTEGER" />
    <result column="maxMonthRent" property="maxmonthrent" jdbcType="INTEGER" />
    <result column="rentPayType" property="rentpaytype" jdbcType="VARCHAR" />
    <result column="bedRoomNum" property="bedroomnum" jdbcType="INTEGER" />
    <result column="livingRoomNum" property="livingroomnum" jdbcType="INTEGER" />
    <result column="toiletNum" property="toiletnum" jdbcType="INTEGER" />
    <result column="faceToType" property="facetotype" jdbcType="VARCHAR" />
    <result column="featureTag" property="featuretag" jdbcType="VARCHAR" />
    <result column="detailPoint" property="detailpoint" jdbcType="VARCHAR" />
    <result column="agentPhone" property="agentphone" jdbcType="VARCHAR" />
    <result column="agentName" property="agentname" jdbcType="VARCHAR" />
    <result column="room_area" property="roomArea" jdbcType="INTEGER" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.web.business.model.volga.Layout" extends="BaseResultMap" >
    <result column="houseDesc" property="housedesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, created_at, updated_at, deleted_at, created_by, updated_by, deleted_by, version, 
    is_delete, apartment_id, name, operator_id, monthRent, maxMonthRent, rentPayType, 
    bedRoomNum, livingRoomNum, toiletNum, faceToType, featureTag, detailPoint, agentPhone, 
    agentName, room_area, picture
  </sql>
  <sql id="Blob_Column_List" >
    houseDesc
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.web.business.model.volga.LayoutExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from layout
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.web.business.model.volga.LayoutExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from layout
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from layout
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from layout
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.web.business.model.volga.LayoutExample" >
    delete from layout
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.web.business.model.volga.Layout" >
    insert into layout (id, created_at, updated_at, 
      deleted_at, created_by, updated_by, 
      deleted_by, version, is_delete, 
      apartment_id, name, operator_id, 
      monthRent, maxMonthRent, rentPayType, 
      bedRoomNum, livingRoomNum, toiletNum, 
      faceToType, featureTag, detailPoint, 
      agentPhone, agentName, room_area, 
      picture, houseDesc)
    values (#{id,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{deletedAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, #{updatedBy,jdbcType=INTEGER}, 
      #{deletedBy,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}, #{isDelete,jdbcType=BIT}, 
      #{apartmentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{operatorId,jdbcType=INTEGER}, 
      #{monthrent,jdbcType=INTEGER}, #{maxmonthrent,jdbcType=INTEGER}, #{rentpaytype,jdbcType=VARCHAR}, 
      #{bedroomnum,jdbcType=INTEGER}, #{livingroomnum,jdbcType=INTEGER}, #{toiletnum,jdbcType=INTEGER}, 
      #{facetotype,jdbcType=VARCHAR}, #{featuretag,jdbcType=VARCHAR}, #{detailpoint,jdbcType=VARCHAR}, 
      #{agentphone,jdbcType=VARCHAR}, #{agentname,jdbcType=VARCHAR}, #{roomArea,jdbcType=INTEGER}, 
      #{picture,jdbcType=VARCHAR}, #{housedesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.web.business.model.volga.Layout" >
    insert into layout
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="deletedAt != null" >
        deleted_at,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="deletedBy != null" >
        deleted_by,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="apartmentId != null" >
        apartment_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="monthrent != null" >
        monthRent,
      </if>
      <if test="maxmonthrent != null" >
        maxMonthRent,
      </if>
      <if test="rentpaytype != null" >
        rentPayType,
      </if>
      <if test="bedroomnum != null" >
        bedRoomNum,
      </if>
      <if test="livingroomnum != null" >
        livingRoomNum,
      </if>
      <if test="toiletnum != null" >
        toiletNum,
      </if>
      <if test="facetotype != null" >
        faceToType,
      </if>
      <if test="featuretag != null" >
        featureTag,
      </if>
      <if test="detailpoint != null" >
        detailPoint,
      </if>
      <if test="agentphone != null" >
        agentPhone,
      </if>
      <if test="agentname != null" >
        agentName,
      </if>
      <if test="roomArea != null" >
        room_area,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="housedesc != null" >
        houseDesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null" >
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="deletedBy != null" >
        #{deletedBy,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="apartmentId != null" >
        #{apartmentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="monthrent != null" >
        #{monthrent,jdbcType=INTEGER},
      </if>
      <if test="maxmonthrent != null" >
        #{maxmonthrent,jdbcType=INTEGER},
      </if>
      <if test="rentpaytype != null" >
        #{rentpaytype,jdbcType=VARCHAR},
      </if>
      <if test="bedroomnum != null" >
        #{bedroomnum,jdbcType=INTEGER},
      </if>
      <if test="livingroomnum != null" >
        #{livingroomnum,jdbcType=INTEGER},
      </if>
      <if test="toiletnum != null" >
        #{toiletnum,jdbcType=INTEGER},
      </if>
      <if test="facetotype != null" >
        #{facetotype,jdbcType=VARCHAR},
      </if>
      <if test="featuretag != null" >
        #{featuretag,jdbcType=VARCHAR},
      </if>
      <if test="detailpoint != null" >
        #{detailpoint,jdbcType=VARCHAR},
      </if>
      <if test="agentphone != null" >
        #{agentphone,jdbcType=VARCHAR},
      </if>
      <if test="agentname != null" >
        #{agentname,jdbcType=VARCHAR},
      </if>
      <if test="roomArea != null" >
        #{roomArea,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="housedesc != null" >
        #{housedesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.web.business.model.volga.LayoutExample" resultType="java.lang.Integer" >
    select count(*) from layout
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update layout
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createdAt != null" >
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null" >
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deletedAt != null" >
        deleted_at = #{record.deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null" >
        created_by = #{record.createdBy,jdbcType=INTEGER},
      </if>
      <if test="record.updatedBy != null" >
        updated_by = #{record.updatedBy,jdbcType=INTEGER},
      </if>
      <if test="record.deletedBy != null" >
        deleted_by = #{record.deletedBy,jdbcType=INTEGER},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
      <if test="record.apartmentId != null" >
        apartment_id = #{record.apartmentId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorId != null" >
        operator_id = #{record.operatorId,jdbcType=INTEGER},
      </if>
      <if test="record.monthrent != null" >
        monthRent = #{record.monthrent,jdbcType=INTEGER},
      </if>
      <if test="record.maxmonthrent != null" >
        maxMonthRent = #{record.maxmonthrent,jdbcType=INTEGER},
      </if>
      <if test="record.rentpaytype != null" >
        rentPayType = #{record.rentpaytype,jdbcType=VARCHAR},
      </if>
      <if test="record.bedroomnum != null" >
        bedRoomNum = #{record.bedroomnum,jdbcType=INTEGER},
      </if>
      <if test="record.livingroomnum != null" >
        livingRoomNum = #{record.livingroomnum,jdbcType=INTEGER},
      </if>
      <if test="record.toiletnum != null" >
        toiletNum = #{record.toiletnum,jdbcType=INTEGER},
      </if>
      <if test="record.facetotype != null" >
        faceToType = #{record.facetotype,jdbcType=VARCHAR},
      </if>
      <if test="record.featuretag != null" >
        featureTag = #{record.featuretag,jdbcType=VARCHAR},
      </if>
      <if test="record.detailpoint != null" >
        detailPoint = #{record.detailpoint,jdbcType=VARCHAR},
      </if>
      <if test="record.agentphone != null" >
        agentPhone = #{record.agentphone,jdbcType=VARCHAR},
      </if>
      <if test="record.agentname != null" >
        agentName = #{record.agentname,jdbcType=VARCHAR},
      </if>
      <if test="record.roomArea != null" >
        room_area = #{record.roomArea,jdbcType=INTEGER},
      </if>
      <if test="record.picture != null" >
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.housedesc != null" >
        houseDesc = #{record.housedesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update layout
    set id = #{record.id,jdbcType=INTEGER},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{record.deletedAt,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=INTEGER},
      updated_by = #{record.updatedBy,jdbcType=INTEGER},
      deleted_by = #{record.deletedBy,jdbcType=INTEGER},
      version = #{record.version,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=BIT},
      apartment_id = #{record.apartmentId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      operator_id = #{record.operatorId,jdbcType=INTEGER},
      monthRent = #{record.monthrent,jdbcType=INTEGER},
      maxMonthRent = #{record.maxmonthrent,jdbcType=INTEGER},
      rentPayType = #{record.rentpaytype,jdbcType=VARCHAR},
      bedRoomNum = #{record.bedroomnum,jdbcType=INTEGER},
      livingRoomNum = #{record.livingroomnum,jdbcType=INTEGER},
      toiletNum = #{record.toiletnum,jdbcType=INTEGER},
      faceToType = #{record.facetotype,jdbcType=VARCHAR},
      featureTag = #{record.featuretag,jdbcType=VARCHAR},
      detailPoint = #{record.detailpoint,jdbcType=VARCHAR},
      agentPhone = #{record.agentphone,jdbcType=VARCHAR},
      agentName = #{record.agentname,jdbcType=VARCHAR},
      room_area = #{record.roomArea,jdbcType=INTEGER},
      picture = #{record.picture,jdbcType=VARCHAR},
      houseDesc = #{record.housedesc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update layout
    set id = #{record.id,jdbcType=INTEGER},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{record.deletedAt,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=INTEGER},
      updated_by = #{record.updatedBy,jdbcType=INTEGER},
      deleted_by = #{record.deletedBy,jdbcType=INTEGER},
      version = #{record.version,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=BIT},
      apartment_id = #{record.apartmentId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      operator_id = #{record.operatorId,jdbcType=INTEGER},
      monthRent = #{record.monthrent,jdbcType=INTEGER},
      maxMonthRent = #{record.maxmonthrent,jdbcType=INTEGER},
      rentPayType = #{record.rentpaytype,jdbcType=VARCHAR},
      bedRoomNum = #{record.bedroomnum,jdbcType=INTEGER},
      livingRoomNum = #{record.livingroomnum,jdbcType=INTEGER},
      toiletNum = #{record.toiletnum,jdbcType=INTEGER},
      faceToType = #{record.facetotype,jdbcType=VARCHAR},
      featureTag = #{record.featuretag,jdbcType=VARCHAR},
      detailPoint = #{record.detailpoint,jdbcType=VARCHAR},
      agentPhone = #{record.agentphone,jdbcType=VARCHAR},
      agentName = #{record.agentname,jdbcType=VARCHAR},
      room_area = #{record.roomArea,jdbcType=INTEGER},
      picture = #{record.picture,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.business.model.volga.Layout" >
    update layout
    <set >
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null" >
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="deletedBy != null" >
        deleted_by = #{deletedBy,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="apartmentId != null" >
        apartment_id = #{apartmentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="monthrent != null" >
        monthRent = #{monthrent,jdbcType=INTEGER},
      </if>
      <if test="maxmonthrent != null" >
        maxMonthRent = #{maxmonthrent,jdbcType=INTEGER},
      </if>
      <if test="rentpaytype != null" >
        rentPayType = #{rentpaytype,jdbcType=VARCHAR},
      </if>
      <if test="bedroomnum != null" >
        bedRoomNum = #{bedroomnum,jdbcType=INTEGER},
      </if>
      <if test="livingroomnum != null" >
        livingRoomNum = #{livingroomnum,jdbcType=INTEGER},
      </if>
      <if test="toiletnum != null" >
        toiletNum = #{toiletnum,jdbcType=INTEGER},
      </if>
      <if test="facetotype != null" >
        faceToType = #{facetotype,jdbcType=VARCHAR},
      </if>
      <if test="featuretag != null" >
        featureTag = #{featuretag,jdbcType=VARCHAR},
      </if>
      <if test="detailpoint != null" >
        detailPoint = #{detailpoint,jdbcType=VARCHAR},
      </if>
      <if test="agentphone != null" >
        agentPhone = #{agentphone,jdbcType=VARCHAR},
      </if>
      <if test="agentname != null" >
        agentName = #{agentname,jdbcType=VARCHAR},
      </if>
      <if test="roomArea != null" >
        room_area = #{roomArea,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="housedesc != null" >
        houseDesc = #{housedesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.web.business.model.volga.Layout" >
    update layout
    set created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=INTEGER},
      updated_by = #{updatedBy,jdbcType=INTEGER},
      deleted_by = #{deletedBy,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT},
      apartment_id = #{apartmentId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      operator_id = #{operatorId,jdbcType=INTEGER},
      monthRent = #{monthrent,jdbcType=INTEGER},
      maxMonthRent = #{maxmonthrent,jdbcType=INTEGER},
      rentPayType = #{rentpaytype,jdbcType=VARCHAR},
      bedRoomNum = #{bedroomnum,jdbcType=INTEGER},
      livingRoomNum = #{livingroomnum,jdbcType=INTEGER},
      toiletNum = #{toiletnum,jdbcType=INTEGER},
      faceToType = #{facetotype,jdbcType=VARCHAR},
      featureTag = #{featuretag,jdbcType=VARCHAR},
      detailPoint = #{detailpoint,jdbcType=VARCHAR},
      agentPhone = #{agentphone,jdbcType=VARCHAR},
      agentName = #{agentname,jdbcType=VARCHAR},
      room_area = #{roomArea,jdbcType=INTEGER},
      picture = #{picture,jdbcType=VARCHAR},
      houseDesc = #{housedesc,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.business.model.volga.Layout" >
    update layout
    set created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=INTEGER},
      updated_by = #{updatedBy,jdbcType=INTEGER},
      deleted_by = #{deletedBy,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT},
      apartment_id = #{apartmentId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      operator_id = #{operatorId,jdbcType=INTEGER},
      monthRent = #{monthrent,jdbcType=INTEGER},
      maxMonthRent = #{maxmonthrent,jdbcType=INTEGER},
      rentPayType = #{rentpaytype,jdbcType=VARCHAR},
      bedRoomNum = #{bedroomnum,jdbcType=INTEGER},
      livingRoomNum = #{livingroomnum,jdbcType=INTEGER},
      toiletNum = #{toiletnum,jdbcType=INTEGER},
      faceToType = #{facetotype,jdbcType=VARCHAR},
      featureTag = #{featuretag,jdbcType=VARCHAR},
      detailPoint = #{detailpoint,jdbcType=VARCHAR},
      agentPhone = #{agentphone,jdbcType=VARCHAR},
      agentName = #{agentname,jdbcType=VARCHAR},
      room_area = #{roomArea,jdbcType=INTEGER},
      picture = #{picture,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>