
.header {
    height: 44px;
    padding: 13px 0;
    color: #777778;
    min-width: 1200px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #eee9;
    position: relative;
    width: 100%;
    z-index: 100;
    font-size: 16px;
}

.header .header_l {
    float: left;
    padding-left: 40px;
    overflow: hidden;
}

.header .header_l .symbol {
    color: #4D4D4D;
    line-height: 44px;
    height: 44px;
    margin-left: 180px;
    display: block;
}

.header .city-change {
    float: left;
    width: 62px;
    color: #40C2FF;
    cursor: pointer;
    position: relative;
    line-height: 44px;
    height: 44px;
    margin-left: 15px;
}

.city-change b {
    position: absolute;
    top: 18px;
    right: 0;
    /* margin-top: -3px; */
    width: 12px;
    height: 6px;
    background: url(img/skin.png) no-repeat;
    background: -webkit-image-set(url(img/skin.png) 1x, url(img/skin@2x.png) 2x) no-repeat;
    background-position: -93px -30px;
}

.top_wraper {
    background: #999;
    color: #fff;
    position: relative;
    min-width: 1200px;
}

/* search */

.autoSuggest {
    float: left;
    position: relative;
}

.autoSuggest input {
    border: 1px solid #ddd;
    padding: 8px 12px;
    width: 300px;
    position: relative;
}

.top_wraper .top_wraper_cell {
    width: 100%;
    position: absolute;
    bottom: 110px;
    left: 0;
    z-index: 10;
}

.top_wraper .top_wraper_cell
.top_wraper_search .autoSuggest .keyword {
    float: left;
    font-size: 16px;
    padding: 9px 10px;
    background: #fff;
    height: 32px;
    line-height: 32px;
    width: 420px;
    border: none;
    color: #777778;
}

.top_wraper .top_wraper_cell .top_wraper_search .keywordAutoSuggest ul {
    top: 48px;
    background: #fff;
    width: 438px;
}

.top_wraper .top_wraper_cell .top_wraper_search .search_btn {
    cursor: pointer;
    float: left;
    background: #40c2ff;
    width: 150px;
    height: 50px;
    border: none;
    color: #fff;
    border-radius: 0 2px 2px 0;
    font-size: 18px;
}

.top_wraper .top_wraper_cell .top_wraper_search {
    color: #fff;
    margin: auto;
    width: 680px;
    height: 50px;
}

.top_wraper .top_wraper_bg {
    height: 650px;
    background: url(img/home.jpg) no-repeat;
    /* background: -webkit-image-set(url(img/home.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
    position: relative;
}

.top_wraper .top_wraper_bg img {
    width: 100%;
}

.top_wraper .top_wraper_bg b {
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.35); */
    background: #000 \9;
    filter: alpha(opacity=35);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.top_wraper_bg .previous {
    position: absolute;
    top: 50%;
    left: 10%;
    /* background: url(img/home.jpg) no-repeat; */
}

.top_wraper_bg .next {
    position: absolute;
    top: 50%;
    right: 10%;
}

.index_slider {

    text-align: center;
}

.index_slider .title h2 {
    margin-top: 30px;
    text-align: center;
    color: #585959;
    font-size: 24px;
    line-height: 32px;
}

.index_slider .title span {
    display: block;
    margin-top: 5px;
    line-height: 20px;
    color: #777778;
}

.index_slider .slider {
    overflow: hidden;
    padding-top: 30px;
    margin: auto;
    width: 1248px;
    margin-bottom: 30px;
}

/* .index_slider .slider ul
{
  width: 810px;
  height: 372px; 
} */
.index_slider .slider ul li {
    float: left;
    width: 282px;
    background: #fff;
    margin: 0 15px;
}

.index_slider .slider ul li img {
    width: 280px;
    height: 210px;
    border: 1px solid #e3e4e6;
}

.index_slider .slider ul li .content {
    padding: 10px;
    border: #e3e4e6 solid;
    border-width: 0 1px 1px;
}

.index_slider .slider ul li .content h5 a {
    color: #585959;
    font-size: 16px;
    line-height: 24px;
}

.index_slider .slider ul li .content p {
    font-size: 14px;
    line-height: 18px;
}

/* 底部样式 */
.footer {
    width: 100%;
    padding-top: 60px;
    background-color: #585959;
    color: #d7d7d9;
}

.footer .footer_cell {
    width: 1200px;
    margin: auto;
}

.footer .footer_cell .contact {
    width: 177px;
    margin: 62px 70px 0 0;
    height: 50px;
    float: left;
}

.footer .footer_cell .content_c {
    float: left;
    width: 600px;
}

.footer .footer_cell .content_c .about {
    height: 55px;
    font-size: 14px;
    color: #E3E4E6;
}

.footer .footer_cell .content_c .about ul li {
    float: left;
    width: 120px;
}

.footer .footer_cell .content_c .mailbox {
    font-size: 14px;
    color: #D7D7D9;
    margin-bottom: 18px;
}

.footer .footer_cell .content_c .hotline {
    font-size: 14px;
    color: #D7D7D9;
    margin-bottom: 32px;
}

.footer .footer_cell .content_c .copyright {
    font-size: 14px;
    color: #CECECE;
    margin-bottom: 22px;
}

.footer .footer_cell .qrcode {
    width: 300px;
    float: right;
}

.footer .footer_cell .qrcode ul li {
    width: 120px;
    padding-top: 120px;
    height: 30px;
    margin-left: 30px;
    float: left;
}

.footer .footer_cell .qrcode ul li span {
    line-height: 30px;
    display: block;
    text-align: center;
}

.footer .footer_cell .qrcode ul li.renterQrcode {
}

.footer .footer_cell .qrcode ul li.landlordQrcode {
}

/* 活动详情 */
.main {
    background: #f2f3f5;
    padding-top: 20px;
}

.i-main {
    width: 1200px;
    margin: auto;
    background: #fff;
}

.v-article {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    min-height: 100px;
    border-bottom: 20px solid #f2f3f4;
    padding: 0 0 50px;
}

.u-breadcrumb {
    width: 1200px;
    line-height: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.mb-15 {
    margin-bottom: 15px !important;
    margin-bottom: 15px;
}

.mt-15 {
    margin-top: 15px !important;
    margin-top: 15px;
}

.u-breadcrumb li {
    float: left;
    padding: 0 4px;
    color:#333;
}

.v-article .title {
    padding: 0 50px 20px;
}

.v-article .title h1 {
    padding: 50px 0 20px 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.v-article .title p{
    font-size:12px;
    color:#ccc;

}

.v-article .content {
    padding: 0 50px;
}

